# .NET Core
bin/
obj/




# Ignore IDE-specific files
*.user
*.rsuser
*.suo
*.vs/
.vscode/
.idea/

# Ignore build and debug files
*.dll
*.exe
*.pdb
*.log
*.cache
*.csproj.user
*.DS_Store

# Ignore temp files
*.tmp
*.bak
*.swp
