@model dynamic

<h2>Mechanic Details</h2>
<p><strong>ID:</strong> @Model.mechanicId</p>
<p><strong>Name:</strong> @Model.mechanicName</p>
<p><strong>Other Details:</strong> @Model.otherMechanicDetails</p>

<a href="/Mechanics">Back to List</a>
