@model Lab6.Data.Manufacturer

<h2>Details</h2>
<p><strong>Name:</strong> @Model.ManufacturerName</p>
<p><strong>Details:</strong> @Model.OtherManufacturerDetails</p>
<a href="@Url.Action("Index")">Back</a>
