@model dynamic

<h2>Model Details</h2>
<p><strong>Code:</strong> @Model.modelCode</p>
<p><strong>Name:</strong> @Model.modelName</p>
<p><strong>Manufacturer:</strong> @Model.manufacturer.manufacturerName</p>
<p><strong>Other Details:</strong> @Model.otherModelDetails</p>

<a href="/Models">Back to List</a>
