@model dynamic

<h2>Models</h2>
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.modelCode</td>
                <td>@item.modelName</td>
                <td>@item.manufacturer.manufacturerName</td>
                <td>
                    <a href="/Models/Details/@item.modelCode">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
